In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
covid = pd.read_csv('/content/Covid Data.csv')
print('Data Shape :', covid.shape)

Data Shape : (1034732, 21)

* sex: 1 for female and 2 for male.
* age: of the patient.
* classification: covid test findings. Values 1-3 mean that the patient was diagnosed with covid in different
* degrees. 4 or higher means that the patient is not a carrier of covid or that the test is inconclusive.
* patient type: type of care the patient received in the unit. 1 for returned home and 2 for hospitalization.
* pneumonia: whether the patient already have air sacs inflammation or not.
* pregnancy: whether the patient is pregnant or not.
* diabetes: whether the patient has diabetes or not.
* copd: Indicates whether the patient has Chronic obstructive pulmonary disease or not.
* asthma: whether the patient has asthma or not.
* inmsupr: whether the patient is immunosuppressed or not.
* hypertension: whether the patient has hypertension or not.
* cardiovascular: whether the patient has heart or blood vessels related disease.
* renal chronic: whether the patient has chronic renal disease or not.
* other disease: whether the patient has other disease or not.
* obesity: whether the patient is obese or not.
* tobacco: whether the patient is a tobacco user.
* usmr: Indicates whether the patient treated medical units of the first, second or third level.
* medical unit: type of institution of the National Health System that provided the care.
* intubed: whether the patient was connected to the ventilator.
* icu: Indicates whether the patient had been admitted to an Intensive Care Unit.
* date died: If the patient died indicate the date of death, and 9999-99-99 otherwise.

In [3]:
covid.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97.0
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97.0
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2.0
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97.0
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97.0

In [4]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1034732 entries, 0 to 1034731
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   USMER                 1034732 non-null  int64
 1   MEDICAL_UNIT          1034732 non-null  int64
 2   SEX                   1034732 non-null  int64
 3   PATIENT_TYPE          1034732 non-null  int64
 4   DATE_DIED             1034732 non-null  object
 5   INTUBED               1034732 non-null  int64
 6   PNEUMONIA             1034732 non-null  int64
 7   AGE                   1034732 non-null  int64
 8   PREGNANT              1034732 non-null  int64
 9   DIABETES              1034732 non-null  int64
 10  COPD                  1034732 non-null  int64
 11  ASTHMA                1034732 non-null  int64
 12  INMSUPR               1034732 non-null  int64
 13  HIPERTENSION          1034732 non-null  int64
 14  OTHER_DISEASE         1034732 non-null  int64
 15  CARDIOVASCULAR        1034732 non-null  int64
 16  OBESITY               1034732 non-null  int64
 17  RENAL_CHRONIC         1034732 non-null  int64
 18  TOBACCO               1034732 non-null  int64
 19  CLASIFFICATION_FINAL  1034732 non-null  int64
 20  ICU                   1034731 non-null  float64
dtypes: float64(1), int64(19), object(1)
memory usage: 165.8+ MB

In [5]:
covid.describe()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
count,1.034732e+06,1.034732e+06,1.034732e+06,1.034732e+06,1.034732e+06,1.034732e+06,1.034732e+06,1.034732e+06,1.034732e+06,1.034732e+06,1.034732e+06,1.034732e+06,1.034732e+06,1.034732e+06,1.034732e+06,1.034732e+06,1.034732e+06,1.034732e+06,1.034732e+06,1.034731e+06
mean,1.630914e+00,8.939207e+00,1.499895e+00,1.192603e+00,7.935192e+01,3.349718e+00,4.182553e+01,4.982197e+01,2.188137e+00,2.262586e+00,2.244701e+00,2.300609e+00,2.130467e+00,2.437838e+00,2.263848e+00,2.126586e+00,2.259365e+00,2.216777e+00,5.284571e+00,7.938342e+01
std,4.825575e-01,3.730657e+00,5.000002e-01,3.943444e-01,3.700802e+01,1.192988e+01,1.691158e+01,4.751036e+01,5.443125e+00,5.151776e+00,5.133397e+00,5.484627e+00,5.254216e+00,6.667657e+00,5.214099e+00,5.190925e+00,5.156616e+00,5.343448e+00,1.883188e+00,3.696192e+01
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,1.000000e+00,4.000000e+00,1.000000e+00,1.000000e+00,9.700000e+01,2.000000e+00,3.000000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,9.700000e+01
50%,2.000000e+00,1.200000e+01,1.000000e+00,1.000000e+00,9.700000e+01,2.000000e+00,4.000000e+01,9.700000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,6.000000e+00,9.700000e+01
75%,2.000000e+00,1.200000e+01,2.000000e+00,1.000000e+00,9.700000e+01,2.000000e+00,5.300000e+01,9.700000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,9.700000e+01
max,2.000000e+00,1.200000e+01,2.000000e+00,2.000000e+00,9.900000e+01,9.900000e+01,1.210000e+02,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,7.000000e+00,9.900000e+01

In [6]:
for col in covid.columns :
    print('{:<20} => {:>10}'.format(col, len(covid[col].unique())))

USMER                =>          2
MEDICAL_UNIT         =>         12
SEX                  =>          2
PATIENT_TYPE         =>          2
DATE_DIED            =>        401
INTUBED              =>          4
PNEUMONIA            =>          3
AGE                  =>        121
PREGNANT             =>          4
DIABETES             =>          3
COPD                 =>          3
ASTHMA               =>          3
INMSUPR              =>          3
HIPERTENSION         =>          3
OTHER_DISEASE        =>          3
CARDIOVASCULAR       =>          3
OBESITY              =>          3
RENAL_CHRONIC        =>          3
TOBACCO              =>          3
CLASIFFICATION_FINAL =>          7
ICU                  =>          5

In [7]:
print('Percentage of missing values')
for col in covid.columns :
    print('{:<20} => {:>10.2f}%'.format(col, len(covid[(covid[col]==98) | (covid[col]==99) | (covid[col]==97)])/len(covid)*100))

Percentage of missing values
USMER                =>       0.00%
MEDICAL_UNIT         =>       0.00%
SEX                  =>       0.00%
PATIENT_TYPE         =>       0.00%
DATE_DIED            =>       0.00%
INTUBED              =>      81.44%
PNEUMONIA            =>       1.53%
AGE                  =>       0.03%
PREGNANT             =>      50.34%
DIABETES             =>       0.32%
COPD                 =>       0.29%
ASTHMA               =>       0.29%
INMSUPR              =>       0.33%
HIPERTENSION         =>       0.30%
OTHER_DISEASE        =>       0.48%
CARDIOVASCULAR       =>       0.30%
OBESITY              =>       0.29%
RENAL_CHRONIC        =>       0.29%
TOBACCO              =>       0.31%
CLASIFFICATION_FINAL =>       0.00%
ICU                  =>      81.46%

In [8]:
covid['INTUBED'].value_counts()

97    835439
2     158439
1      33582
99      7272
Name: INTUBED, dtype: int64

In [9]:
covid['PREGNANT'].value_counts()

97    517257
2     505773
1       8040
98      3662
Name: PREGNANT, dtype: int64

In [10]:
covid['ICU'].value_counts()

97.0    835438
2.0     175075
1.0      16783
99.0      7435
Name: ICU, dtype: int64

# IMPORTANT

* 1-3 : the patient was diagnosed with covid in different degrees.
* 4-7 : the patient is not a carrier of covid or that the test is inconclusive

In [11]:
covid['CLASIFFICATION_FINAL'].value_counts()

7    485921
3    381218
6    127984
5     26071
1      8565
4      3122
2      1851
Name: CLASIFFICATION_FINAL, dtype: int64

In [12]:
covid.columns

Index(['USMER', 'MEDICAL_UNIT', 'SEX', 'PATIENT_TYPE', 'DATE_DIED', 'INTUBED',
       'PNEUMONIA', 'AGE', 'PREGNANT', 'DIABETES', 'COPD', 'ASTHMA', 'INMSUPR',
       'HIPERTENSION', 'OTHER_DISEASE', 'CARDIOVASCULAR', 'OBESITY',
       'RENAL_CHRONIC', 'TOBACCO', 'CLASIFFICATION_FINAL', 'ICU'],
      dtype='object')

In [13]:
cols = ['PNEUMONIA','DIABETES', 'COPD', 'ASTHMA', 'INMSUPR','HIPERTENSION',
        'OTHER_DISEASE', 'CARDIOVASCULAR', 'OBESITY','RENAL_CHRONIC', 'TOBACCO']
for col in cols :
    covid = covid[(covid[col] == 1)|(covid[col] == 2)]

In [14]:
covid['DEATH'] = [2 if row=='9999-99-99' else 1 for row in covid['DATE_DIED']]

In [15]:
covid['DEATH']

0          1
1          1
2          1
3          1
4          1
          ..
1034727    2
1034728    2
1034729    2
1034730    2
1034731    2
Name: DEATH, Length: 1011534, dtype: int64

In [16]:
covid['DEATH'].value_counts()

2    936880
1     74654
Name: DEATH, dtype: int64

In [17]:
covid.drop(columns=['INTUBED','ICU','DATE_DIED'],inplace=True)

In [18]:
print('MALE',covid.query('SEX==2')['PREGNANT'].value_counts(), sep='\n')
print('FEMALE',covid.query('SEX==1')['PREGNANT'].value_counts(), sep='\n')

MALE
97    505770
Name: PREGNANT, dtype: int64
FEMALE
2     494912
1       7767
98      3085
Name: PREGNANT, dtype: int64

In [19]:
covid['PREGNANT'] = covid['PREGNANT'].replace(97,2)
covid['PREGNANT'] = covid['PREGNANT'].replace(98,2)

In [20]:
covid.shape

(1011534, 19)

In [21]:
for col in covid.columns :
    print('{:<20} => {:>10}'.format(col, len(covid[col].unique())))

USMER                =>          2
MEDICAL_UNIT         =>         12
SEX                  =>          2
PATIENT_TYPE         =>          2
PNEUMONIA            =>          2
AGE                  =>        121
PREGNANT             =>          2
DIABETES             =>          2
COPD                 =>          2
ASTHMA               =>          2
INMSUPR              =>          2
HIPERTENSION         =>          2
OTHER_DISEASE        =>          2
CARDIOVASCULAR       =>          2
OBESITY              =>          2
RENAL_CHRONIC        =>          2
TOBACCO              =>          2
CLASIFFICATION_FINAL =>          7
DEATH                =>          2

In [22]:
from sklearn.preprocessing import StandardScaler
standard_scaler = StandardScaler()
covid['AGE'] = standard_scaler.fit_transform(covid.loc[:,['AGE']])

In [23]:
y = covid['DEATH']
x = covid.drop('DEATH', axis=1)

In [24]:
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(x,y, test_size=0.25, random_state=42)

print('Train X :', train_x.shape)
print('Test X :', test_x.shape)
print('Train Y :', train_y.shape)
print('Test Y :', test_y .shape)

Train X : (758650, 18)
Test X : (252884, 18)
Train Y : (758650,)
Test Y : (252884,)

In [25]:
from sklearn.ensemble import RandomForestClassifier

random_forest = RandomForestClassifier(n_estimators=150)
random_forest.fit(train_x, train_y)

RandomForestClassifier(n_estimators=150)

In [26]:
from sklearn.metrics import accuracy_score

print('Random Forest Accuracy Score :', accuracy_score(test_y,random_forest.predict(test_x)))

Random Forest Accuracy Score : 0.9330839436263267